# Node
app/node_modules/

# Environment files
app/.env

# Logs
*.log

# Terraform
terraform/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
